* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	align-items: center;
	height: 100vh;
	font-size: 16px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@font-face {
	font-family: orbitron;
	src: url(fonts/orbitron.ttf);
}
.score {
	font-family: orbitron, verdana, sans-serif;
}

h3 {
	font-size: 1.9rem;
}

.container {
	display: flex;
	justify-content: space-around;
	width: 700px;
	height: 300px;
	background: #1b244a;
	margin: 0 auto;
	color: #eee;
	padding: 20px 30px;
}

.score {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 5rem;
	height: 5rem;
	background: #000;
	color: #ed4e6d;
	text-align: center;
	font-size: 2rem;
	border-radius: 10px;
}

.update-score {
	display: flex;
	justify-content: space-around;
	margin-bottom: 15px;
}

.add-one,
.add-two,
.add-three {
	border: #fff 1px solid;
	border-radius: 10px;
	margin-top: 20px;
	margin-right: 10px;
	padding: 10px;
	font-size: 1.2rem;
	cursor: pointer;
}

.home-score,
.visitor-score {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;
}

.reset {
	background: #1b244a;
	color: white;
	cursor: pointer;
}

/* @media screen and (min-width: 400px) {
	.container {
		width: 80%;
	}
} */
